.cont1 {
    /* margin-top:132px; */
     width: 99%;
    height: 2677px; 
    
    position: absolute;
    background: linear-gradient(0deg, #5F7AD3, #5F7AD3);
}
.cont2 {
    background:#FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1300px;
    height: 2195px;
}
 header {
    height: 87px;
    display:flex;
} 
.play1 {
    
    width:1300px;
    height:370px;
    overflow: hidden;
}
.play2 {
    width:1300px;
    height:409px;
    overflow: hidden;
    background: #000;
}
.setka {
    display:grid;
    grid-template-columns: 414px 416px 414px;
    grid-template-rows: 190px 190px 190px 190px;
    margin: 30px 30px 0px 30px;
}
.lastnews {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    background: red;
}
.borntoday {
    grid-row: 1;
    grid-column: 2;
    background: green; 
    padding-top: 33px;
}
.seeonnet {
    grid-row: 2;
    grid-column: 2;
    background: yellow; 
    padding-top: 33px;
}
.tdwall {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 3;
    background: red;
}
.top250 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 1;
    background: blue;
}
.randmu {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 2;
    background: green;
}
.boxof {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 3;
    background: blue;
}
