.cont1 {
    /* margin-top:132px; */
     width: 99%;
    height: 2677px; 
    
    position: absolute;
    background: linear-gradient(0deg, #5F7AD3, #5F7AD3);
}
.cont2 {
    background:#FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1300px;
    height: 2200px;
}
 header {
    height: 87px;
    display:flex;
} 
.play1 {
    
    width:1300px;
    height:370px;
    overflow: hidden;
}
.play2 {
    width:1300px;
    height:409px;
    overflow: hidden;
    background: #000;
}
.setka {
    display:grid;
    grid-template-columns: 414px 420px 414px;
    grid-template-rows: 200px 200px 240px 200px;
    margin: 30px 30px 64px 30px;
}
.lastnews {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
}
.borntoday {
    grid-row: 1;
    grid-column: 2;
    padding-top: 33px;
}
.seeonnet {
    grid-row: 2;
    grid-column: 2;
    padding-top: 33px;
}
.tdwall {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 3;
    padding-top: 33px;
    padding-left: 10px ;
    overflow: hidden;
}
.top250 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 1;
    padding-top: 75px;
}
.randmu {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 2;
    overflow: hidden;
    padding-top: 35px;
}
.boxof {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 3;
    padding-left: 10px ;
    padding-top: 75px;
}
.recent {
    margin:35px 0px 18px 16px ;
    width:1300px;
    height:147px;
}
.recent img {
    margin-left: -2px;
}
footer {
    padding: 0px 14px 0px 14px;
    display: grid;
    grid-template-columns: 400px 250px 220px 400px;
    grid-template-rows: 200px;
}
.everyw {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1;
    padding-top: 40px;
}
.follow {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2;
    padding: 40px 0px 0px 29px;
}
.follow img {
    margin: 0px 7px 14px 7px;
}
.flickr {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 3;
    padding-top: 40px;
    padding-left: 20px;
}