.setka {
    display:grid;
    grid-template-columns: 414px 414px 414px;
    grid-template-rows: 190px 190px;
}
.lastnews {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    background: red;
}
.borntoday {
    grid-row: 1;
    grid-column: 2;
    background: green; 
}
.seeonnet {
    grid-row: 2;
    grid-column: 2;
    background: yellow; 
}
.tdwall {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 3;
    background: red;
}